.box {
    height:220px;
    border: solid 2px grey;
    background-color: lightgrey;
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.parent {
    justify-content: space-around;
}

#homework {
    width:200px;
}
#crumble {
    width:200px;
}

#trash {
    width:200px;
}

#pilles {
    width:200px;
}
#throw {
    width: 220px;
}
#F {
    width:250px;
}